# Loading the clean - masked data into the Target Database.

In [25]:
#We use the masked data for loading into the database as the data contains sensitive information.

In [2]:
import pandas as pd
import numpy as np

In [7]:
masked_cleaned_df = pd.read_csv('C:/Users/s.a.gowrishankar/OneDrive - Accenture/Documents/masked_salary_info.csv')

In [8]:
masked_cleaned_df.head(10)

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status,Ingest_time,Ingest_date
0,110532,*******hinn,Deputy Chief 3,129150.01,0.00,342802.63,38780.04,471952.64,510732.68,2014,San Francisco,PT,2021-05-20T05:08:27.554+0000,2021-05-20
1,110533,******Hart,Asst Med Examiner,318835.49,10712.95,60563.54,89540.23,390111.98,479652.21,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
2,110534,**************** Jr.,Chief Investment Officer,257340.00,0.00,82313.70,96570.66,339653.70,436224.36,2014,San Francisco,PT,2021-05-20T05:08:27.554+0000,2021-05-20
3,110535,**********Suhr,Chief of Police,307450.04,0.00,19266.72,91302.46,326716.76,418019.22,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
4,110536,****************hite,"Chief, Fire Department",302068.00,0.00,24165.44,91201.66,326233.44,417435.10,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
5,110537,***********fatt,Asst Med Examiner,270222.04,6009.22,67956.20,71580.48,344187.46,415767.94,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
6,110538,*********rtin,Dept Head V,311298.55,0.00,0.00,89772.32,311298.55,401070.87,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
7,110539,*************y-Jr,Executive Contract Employee,310161.02,0.00,0.00,88823.51,310161.02,398984.53,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
8,110540,****** Lai,"Battalion Chief, Fire Suppress",179464.14,128685.99,27334.83,59876.90,335484.96,395361.86,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20
9,110541,************klin,Asst Chf of Dept (Fire Dept),201566.88,97907.38,29916.28,64599.59,329390.54,393990.13,2014,San Francisco,FT,2021-05-20T05:08:27.554+0000,2021-05-20

In [23]:

import sqlalchemy
import pandas as pd 
from sqlalchemy.orm import sessionmaker
import requests
import json 
from datetime import datetime
import datetime 
import sqlite3 
DATABASE_LOCATION = "sqlite:///masked_salary_info_tracker.sqlite"
engine = sqlalchemy.create_engine(DATABASE_LOCATION)
conn = sqlite3.connect('sf_salary_masked.sqlite')
cursor = conn.cursor()

In [24]:
sql_query = """ 
CREATE TABLE IF NOT EXISTS masked_salary_info_tracker_sf(
    Id VARCHAR(200),
    EmployeeName VARCHAR(200),
    JobTitle VARCHAR(200),
    timestamp VARCHAR(200),
    BasePay VARCHAR(200),
    OvertimePay VARCHAR(200),
    OtherPay VARCHAR(200),
    Benefits VARCHAR(200),
    TotalPay VARCHAR(200),
    TotalPaybenefits VARCHAR(200),
    Year VARCHAR(200),
    Agency VARCHAR(200),
    Status VARCHAR(200),
    IngestTime VARCHAR(200),
    IngestDate VARCHAR(200),
    CONSTRAINT primary_key_constraint PRIMARY KEY (Id)
    )
"""
cursor.execute(sql_query)
print("Opened Database successfully")


try:
    masked_cleaned_df.to_sql("masked_salary_info_tracker_sf", engine, index=False, if_exists='append')
except:
    print("Data already exists")
    
conn.close()
print("Closed db successfully")

Opened Database successfully
Data already exists
Closed db successfully